{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block content %}


<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>

        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice_id" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{choice.choice_text}}</label><br>
        {% endfor %}
    </fieldset>
    <button tton class="btn btn-m btn-primary" type="submit" value="Vote">Vote</button>
    <a href="{% url 'polls:index' %}" class="btn btn-sm btn-info">Back</a>
</form>

{% endblock %}