{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block content %}

<h2>{{ title }}</h2>

{% if latest_question_list %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Question</th>
                <th>Published Date</th>
                <th>Created By</th>
                <th>Functions</th>
            </tr>
        </thead>
        <tbody>
            {% for question in latest_question_list %}
                <tr>
                    <td><a href="{{ question.get_absolute_url }}">{{ question.question_text }}</a></td>
                    <td>{{ question.pub_date }}</td>
                    <td>{{ question.created_by }}</td>
                    <td>
                        <a href="{{ question.get_absolute_url }}"><button tton class="btn btn-sm btn-primary">Show</button></a>
                        <a href="{% url 'polls:poll_update' question.id %}"><button tton type="submit" class="btn btn-sm btn-secondary">Edit</button></a>
                        <button tton type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<a href="{% url 'polls:poll_create' %}" class="btn btn-success">New</a>

{% endblock %}