{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block content %}

<h2>{{ title }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}

    <table class="table">
        {{ choices.management_form }}

        {% for form in choices.forms %}
            {% if forloop.first %}
                <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                            <th>{{field.label|capfirst}}</th>
                        {% endfor %}
                    </tr>
                </thead>
            {% endif %}
            <tr class="{% cycle 'row1' 'row2' %} formset_row">
                {% for field in form.visible_fields %}
                    <td>
                        {% if forloop.first %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        {% endif %}
                        {{ field.errors.as_ul }}
                        {{ field }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Save" class="btn btn-sm btn-success"/><a href="{% url 'polls:index' %}" class="btn btn-sm btn-info">Back</a>
</form>

<script type="text/javascript">
    $('.formset_row').formset({
        addText: 'add choice',
        deleteText: 'remove',
        prefix: 'choice_set'
    });
</script>

{% endblock %}